.fa{
    color: white;
}
.opmaak{
    margin-top: 7%;
}

h3 {
    margin-top: 20px;
    margin-bottom: 30px;
}
body {
  font-family: 'Montserrat', Helvetica, sans-serif;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
p {
  max-width: 560px;
  padding-bottom: 30px;
  border-bottom: 1px solid #eee;
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 2;
  color: #222;
}

.button {
  background: #858796;
  border-radius: 100px;
  padding: 20px 60px;
  color: #fff;
  text-decoration: none;
  font-size: 1.45em;
  margin: 20px;
}

.button:hover{
    background-color: #fff;
    border: 1px solid #000;
    text-decoration: none;
    color: black;
}

/* Active state animation applied here */
.button:active {
  -webkit-animation: active 1200ms ease 1 alternate;
  animation: active 1200ms ease 1 alternate; 
  background: #858796;
}
.gray { background: #D2D2D2; }
.gray:active { background: #b9b9b9; }

/* Active state animation keyframes below */

@-webkit-keyframes active { 
  0% {transform: scale(1,1);}
  90% {transform: scale(.9,.88);}
  100% {transform: scale(.92,.9);}
}

keyframes active { 
  0% {transform: scale(1,1);}
  90% {transform: scale(.9,.88);}
  100% {transform: scale(.92,.9);}
}